.list-extra-button {
  margin-right: 10px;
}

.card-modal-title {
  display: flex;
  flex-direction: row;
}

.card-modal-title-checklist {
  margin-left: 10px;
}

.ant-card-actions {
  border-radius: 0 0 30px 30px;
}
